.lesson-wrapper {
  height: 680px;
  background-color: #f7f7f7;
  text-align: center;
  padding-bottom:30px;
}

.heading {
  padding-top: 60px;
  color: #5f5d60;
}

.heading h1 {
  font-size:50px;
  color: #004729;
}

.lesson {
  float: left;
  width: 50%;
}

.lesson-icon {
  position: relative;
}

.lesson-icon p {
  position: absolute;
  top: 200px;
  left: 200px;
  width: 50%;
  color: black;
  
}



/* ---------Untuk Tablet ----------------*/
@media all and (max-width: 1000px) {
  .lesson-wrapper {
  height: 450px;
  }
  
  .lesson {
  width: 50%;
  }
  
  .lesson-icon p {
  top: 123px;
  left: 101px;
  width: 50%;
  font-size:11.5px;
  }
  
  .lesson-icon img {
    width:80%;
  }
  
  .heading h1 {
    font-size: 30px;
  }
}


/*----------Untuk Smartphone -----------------*/
@media all and (max-width: 670px) {
  .lesson-wrapper {
  height: 770px;
  padding: 20px;
  }
  
  .heading h1 {
    font-size: 30px;
  }
  
  .lesson-icon p {
    position: absolute;
    width: 50%;
    top: 102px;
    left: 93px;
    font-size: 11px;
    text-align: center;
  }
  
  .lesson-icon img {
  width:80%;
  }
  
  .lesson {
    width: 100%;
  }
}
